-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
torch
torchvision
torch-fidelity
torchmetrics
pytorch-lightning
jax[cuda11_pip]
flax[all]
optax
matplotlib
tqdm
seaborn
tensorboardX
python-papi